<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <div ng-controller="getManController">
      <div>
        <input ng-model="count">
        <button ng-click="generateMans(count)"> Result Mans! </button>
        <div ng-repeat="man in mansArray">
          {{man.name}}
          {{man.surname}}
        </div>
      </div>
    </div>
    <div ng-controller="getWomanController">
      <div>
        <input ng-model="count">
        <button ng-click="generateWomans(count)"> Result Womens! </button>
        <div ng-repeat="weman in womanArray">
          {{weman.name}}
          {{weman.surname}}
        </div>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="Services/Factories/peopleFactory.js"></script>
    <script src="Services/Providers/testProvider.js"></script>
    <script src="Services/Services/testService.js"></script>
    <script src="Services/Factories/dataFactory.js"></script>
    <script src="Controllers/getSumController.js"></script>
    <script src="Controllers/testController.js"></script>
    <script src="Controllers/test2Controller.js"></script>
    <script src="Controllers/getManController.js"></script>
    <script src="Controllers/getWomanController.js"></script>
  </body>
</html>
