<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <div ng-controller="calculateController" class="calculate">
      <input type="text" ng-model="inputString" disabled>
      <div>
        {{result}}
      </div>
      <div>
        <button ng-click="inputNumber('1')" class="mybutton">1</button>
        <button ng-click="inputNumber('2')" class="mybutton">2</button>
        <button ng-click="inputNumber('3')" class="mybutton">3</button>
        <button ng-click="reset()" class="mybutton">C</button>
        <button ng-click="inputNumber('(')" class="mybutton">(</button>
      </div>
      <div>
        <button ng-click="inputNumber('4')" class="mybutton">4</button>
        <button ng-click="inputNumber('5')" class="mybutton">5</button>
        <button ng-click="inputNumber('6')" class="mybutton">6</button>
        <button ng-click="inputVariable('-')" class="mybutton">-</button>
        <button ng-click="inputNumber(')')" class="mybutton">)</button>
      </div>
      <div>
        <button ng-click="inputNumber('7')" class="mybutton">7</button>
        <button ng-click="inputNumber('8')" class="mybutton">8</button>
        <button ng-click="inputNumber('9')" class="mybutton">9</button>
        <button ng-click="inputVariable('/')" class="mybutton">/</button>
        <button ng-click="inputVariable('%')" class="mybutton">%</button>
      </div>
      <div>
        <button ng-click="inputNumber('0')" class="mybutton">0</button>
        <button ng-click="inputNumber('.')" class="mybutton">.</button>
        <button ng-click="inputVariable('+')" class="mybutton">+</button>
        <button ng-click="inputVariable('*')" class="mybutton">*</button>
        <button class="mybutton" disabled> </button>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>

    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>

    <script src="Services/Factories/peopleFactory.js"></script>

    <script src="Services/Providers/testProvider.js"></script>

    <script src="Services/Services/testService.js"></script>

    <script src="Services/Factories/dataFactory.js"></script>
    <script src="Services/Factories/calculateFactory.js"></script>

    <script src="Controllers/getSumController.js"></script>
    <script src="Controllers/testController.js"></script>
    <script src="Controllers/test2Controller.js"></script>
    <script src="Controllers/getManController.js"></script>
    <script src="Controllers/getWomanController.js"></script>
    <script src="Controllers/calculateController.js"></script>
  </body>
</html>
