<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <!--<div ng-controller="getManController">-->
      <!--<div>-->
        <!--<input ng-model="count">-->
        <!--<button ng-click="generateMans(count)"> Result Mans! </button>-->
        <!--<div ng-repeat="man in mansArray">-->
          <!--{{man.name}}-->
          <!--{{man.surname}}-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div ng-controller="getWomanController">-->
      <!--<div>-->
        <!--<input ng-model="count">-->
        <!--<button ng-click="generateWomans(count)"> Result Womens! </button>-->
        <!--<div ng-repeat="weman in womanArray">-->
          <!--{{weman.name}}-->
          <!--{{weman.surname}}-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div ng-controller="calculateController">
      <input type="text" ng-model="inputString">
      {{result}}
      <div>
        <button ng-click="inputZero('0')">0</button>
        <button ng-click="inputOne('1')">1</button>
        <button ng-click="inputTwo('2')">2</button>
        <button ng-click="inputThree('3')">3</button>
        <button ng-click="inputFour('4')">4</button>
        <button ng-click="inputFive('5')">5</button>
        <button ng-click="inputSix('6')">6</button>
        <button ng-click="inputSeven('7')">7</button>
        <button ng-click="inputEight('8')">8</button>
        <button ng-click="inputNine('9')">9</button>
      </div>
      <div>
        <button ng-click="inputPlus('+')">+</button>
        <button ng-click="inputMinus('-')">-</button>
        <button ng-click="inputDelete('/')">/</button>
        <button ng-click="inputMult('*')">*</button>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>

    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>

    <script src="Services/Factories/peopleFactory.js"></script>

    <script src="Services/Providers/testProvider.js"></script>

    <script src="Services/Services/testService.js"></script>

    <script src="Services/Factories/dataFactory.js"></script>
    <script src="Services/Factories/calculateFactory.js"></script>

    <script src="Controllers/getSumController.js"></script>
    <script src="Controllers/testController.js"></script>
    <script src="Controllers/test2Controller.js"></script>
    <script src="Controllers/getManController.js"></script>
    <script src="Controllers/getWomanController.js"></script>
    <script src="Controllers/calculateController.js"></script>
  </body>
</html>
